Item(
    item_id: 334,
    name: "Axe",
    quality: Common,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: 1,
            hit_rating_bonus: 5,
            range_bonus: 0,
            cooldown_reduction_ms: 0,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: Some(1),
        intelligence: None,
        agility: None,
    )),
    description: "Melee Weapon",
    consumable: false,
    effects: None,
)
