Item(
    item_id: 334,
    name: "Axe",
    quality: Common,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: Some(1),
            hit_rating_bonus: Some(5),
            range_bonus: None,
            cooldown_reduction_ms: None,
            crit_damage_multiplier: None,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: Some(1),
        intelligence: None,
        agility: None,
    )),
    description: "Melee Weapon",
    consumable: false,
    effects: None,
)
