Item(
    item_id: 5,
    name: "Greatsword",
    quality: Uncommon,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: 2,
            hit_rating_bonus: 5,
            range_bonus: 1,
            cooldown_reduction_ms: 0,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: None,
        intelligence: None,
        agility: None,
    )),
    description: "Melee attacks have longer reach",
    consumable: false,
    effects: None,
)