Item(
    item_id: 2,
    name: "Mace",
    quality: Common,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: Some(1),
            hit_rating_bonus: Some(3),
            range_bonus: None,
            cooldown_reduction_ms: None,
            crit_damage_multiplier: None,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: None,
        intelligence: None,
        agility: None,
    )),
    description: "Staggers opponents on hit",
    consumable: false,
    effects: None,
)
