Item(
    item_id: 9,
    name: "Nether-orb Staff",
    quality: Rare,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: Some(1),
            hit_rating_bonus: Some(5),
            range_bonus: Some(4),
            cooldown_reduction_ms: Some(500),
            crit_damage_multiplier: None,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: None,
        intelligence: Some(4),
        agility: None,
    )),
    description: "Reduces Cooldowns slightly",
    consumable: false,
    effects: None,
)
