Item(
    item_id: 690,
    name: "Iron Scepter",
    quality: Common,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: 0,
            hit_rating_bonus: 2,
            range_bonus: 2,
            cooldown_reduction_ms: 0,
            crit_damage_multiplier: 0.0,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: None,
        intelligence: Some(2),
        agility: None,
    )),
    description: "Reduces Cooldowns slightly",
    consumable: false,
    effects: None,
)
