Item(
    item_id: 642,
    name: "Gold Scepter",
    quality: Uncommon,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: 1,
            hit_rating_bonus: 5,
            range_bonus: 2,
            cooldown_reduction_ms: 150,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: Some(1),
        intelligence: Some(3),
        agility: None,
    )),
    description: "Reduces Cooldowns slightly",
    consumable: false,
    effects: None,
)
