Item(
    item_id: 7,
    name: "Scimitar",
    quality: Uncommon,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: Some(5),
            hit_rating_bonus: Some(7),
            range_bonus: None,
            cooldown_reduction_ms: Some(250),
            crit_damage_multiplier: None,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: Some(2),
        intelligence: None,
        agility: Some(3),
    )),
    description: "Melee attacks cut deeper",
    consumable: false,
    effects: None,
)
