Item(
    item_id: 230,
    name: "Shortbow",
    quality: Common,
    equip_slot: MainHand,
    stats: Some(ItemStats(
        attack_modifiers: Some(AttackModifiers(
            damage_bonus: None,
            hit_rating_bonus: Some(5),
            range_bonus: Some(5),
            cooldown_reduction_ms: None,
            crit_damage_multiplier: None,
        )),
        defense_modifiers: None,
        other_modifiers: None,
        strength: None,
        intelligence: None,
        agility: None,
    )),
    description: "Ranged attack weapon",
    consumable: false,
    effects: None,
)
