Spell(
    id: 3,
    name: "Stealth",
    targeting: Personal,
    cooldown: 120.0,
    effects: [
        (Transform(Invisible), Some(20.0)),
    ],
    caster_restriction: PlayerClass(
        classes: [Rogue],
        min_level: Some(2),
    ),
)
